.signup-form-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    border-radius: 8px;
    justify-content: space-between;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(215, 250, 244);
}
#signup-header{
  text-align: center;
}
.sign-up-inputs {
  flex: 1;
  min-width: 250px;
}

.sign-up-inputs h1 {
  margin-bottom: 15px;
}

.sign-up-inputs label {
  font-weight: bold;
}

.sign-up-inputs input {
  width: 90%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 2px;
}
.sign-up-inputs input:hover{
    background-color:rgb(230, 223, 223);
}

.sign-up-image {
  flex: 1;
  min-width: 250px;
  border-left: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-image img {
  width: 100%;
  /* max-width: 100%; */
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
#btn{
    background-color: rgb(13, 108, 197);
    border: none;
    width: 100%;
    height: 10%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#btn:hover{
    background-color: green;
}
